 <div class="contenedor_formulario">
 <p>Nombre de la mascota</p>
<mat-form-field>
  <mat-label>Ingrese su nombre:</mat-label>
  <input matInput>
</mat-form-field>
 <p>Raza</p>
<mat-form-field>
  <mat-label>Ingrese su raza:</mat-label>
  <input matInput>
</mat-form-field>
 <p>Color</p>
<mat-form-field>
  <mat-label>Ingrese su color:</mat-label>
  <input matInput>
</mat-form-field>
<p>especie</p>
<mat-form-field>
  <mat-label>Ingrese su especie:</mat-label>
  <input matInput>
</mat-form-field>
 </div>
